html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 150px auto; /* Center the container horizontally and add top/bottom margin for spacing */
  background-color: lightskyblue;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.current-temp-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.left-section,
.middle-section,
.right-section {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-section {
  align-items: flex-start; /* Align items to the top */
}

.middle-section {
  font-size: 2rem;
  text-align: center;
}

.right-section {
  text-align: right;
}

.fa-sun,
.fa-moon,
.fa-cloud-sun,
.fa-cloud-moon,
.fa-cloud,
.fa-cloud-showers-heavy,
.fa-cloud-sun-rain,
.fa-cloud-moon-rain,
.fa-bolt,
.fa-snowflake,
.fa-smog {
  color: goldenrod;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}

.temp-description {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.temp-details span {
  display: block;
  margin-bottom: 5px;
}

.temp-icon {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.current-temp-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

#day-icon,
#current-icon {
  font-size: 2rem;
}

.daily-forecast {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.day {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.day-of-week {
  font-weight: bold;
  margin-bottom: 1rem;
}

.day-temp {
  font-size: 20px;
  margin-top: 1rem;
  font-weight: bold;
}
